<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Stabilis_Integrity>
            <version>1.0.0.0</version>
        </Stabilis_Integrity>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <integrity>
                    <file>stabilis_integrity.xml</file>
                </integrity>
            </updates>
        </layout>
        <events>
            <catalog_category_save_before>
                <observers>
                    <stabilis_integrity>
                        <type>singleton</type>
                        <class>integrity/observer</class>
                        <method>catalogCategorySaveBefore</method>
                    </stabilis_integrity>
                </observers>
            </catalog_category_save_before>
            <catalog_product_save_before>
                <observers>
                    <stabilis_integrity>
                        <type>singleton</type>
                        <class>integrity/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </stabilis_integrity>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <integrity>
                <class>Stabilis_Integrity_Block</class>
            </integrity>
        </blocks>
        <helpers>
            <integrity>
                <class>Stabilis_Integrity_Helper</class>
            </integrity>
        </helpers>
        <models>
            <integrity>
                <class>Stabilis_Integrity_Model</class>
            </integrity>
        </models>
    </global>
</config>
